.ba-sauna {
  background: url(../img/sauna.jpg) 50%;
  height: 100vh;
  padding: 230px 0 100px;
  h4 {
    font-size: 20px;
    font-weight: 400;
  }
}

.ba-opac {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 50px 30px;
}

.ba-spain {
  font-size: 20px;
}

.ba-but {
  line-height: 26px;
  font-size: 16px;
}
