$body-font-family: "Josefin Sans", sans-serif;
$text-color: #e8e8e8;
$primary-color: #5474fd;

@import "normalize";
@import "layout";
@import "elements";
@import url("https://fonts.googleapis.com/css?family=Aleo:400,700|Josefin+Sans:400,700&display=swap");

body {
  border: 15px solid #fff;
  font-family: "Josefin Sans", sans-serif;

  color: $text-color;
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1110px;
}

@import "section-superior-intro";
@import "header";
@import "section-about";
@import "svg-middle";
@import "section-sauna";
@import "section-ridge";
@import "section-man";
@import "section-footer";
